<!DOCTYPE html>
<html>
<head>
	<title>Reset Token</title>
</head>
<body>
	<form method="POST" action="">
			{{ form.hidden_tag() }}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Reset Password</legend>
				
				{% for field in form %}
                    {% if field.type != "SubmitField" and field.id != "csrf_token" %}
                        <div class="form-group">
                            {{ field.label(class="form-control-label") }}

                            {% if field.errors %}
                                {{ field(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in field.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ field(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
                
			</fieldset>
			<div class="form-group">
				{{ form.submit(class="btn btn-outline-info") }}
			</div>

		</form>

	</div>
</body>
</html>