<!DOCTYPE html>
<html>
<head>
	<title>Security Question</title>
</head>
<body>
    <!-- Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    
	<form method="POST" action="">
			{{ form.hidden_tag() }}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Security Question</legend>

                <!-- Question Info -->
                <div>
                    Please answer the question to proceed.
                </div>
                <div>
                    {{ security_question }}
                </div>
				
                <!-- Form -->
				{% for field in form %}
                    {% if field.type != "SubmitField" and field.id != "csrf_token" %}
                        <div class="form-group">
                            {{ field.label(class="form-control-label") }}

                            {% if field.errors %}
                                {{ field(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in field.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ field(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
                
			</fieldset>
			<div class="form-group">
				{{ form.submit(class="btn btn-outline-info") }}
			</div>

		</form>

	</div>
</body>
</html>